* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
/* 隐藏所有滚动条 */
body {
  overflow: hidden; /* 完全隐藏 */
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #0E1F32;
}

.biaoqingImg {
  width: 100vw; 
  height: 100vh;
  object-fit: cover;
  -webkit-user-drag: none;
}